<div class="launch-content">
    <div class="intro"><img src="/img/launch.jpg"/>
        <div class="intro-content">
            <h1>Become a part of <br/> the <span>movement</span></h1>
        </div>
    </div>
<div class="who">
    <h1>Who are we?</h1>
    <p>We are a group of high schoolers dedicated to redefining how and when students learn computer science.</p>
</div>
<div class="what">
    <h1>What are we doing?</h1>
    <p>We are putting forth an effort to extend computer science/programming resources to anyone who is interested.</p>
</div>
    <div class="why">
        <h1>Why should you care?</h1>
        <p>Computer Science is a part of almost every aspect of our society. It is an invaluable skill to learn regardless of your future career; however, the amount of classes available to K-12 students has actually been declining even as the field grows. Our outreach program is designed to combat computer science decline and help students realize the possibilities if what they can achieve with only a few lines of code.</p>
    </div>
    <div class="how">
        <h1>How can you join?</h1>
        <p>Register for one of our outreach programs taking place during the 2016-17 school year</p>
    </div>
</div>
