
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Computer Science</h1>
                    <p class="intro-text">KPHurley forever.</p>
                    <a ng-click="scroll('about')" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Who are we?</h2>
            <p>We are a group of high schoolers dedicated to redefining how and when students learn <a>computer science</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>What are we doing?</h2>
            <p>We are putting forth an effort to extend computer science/programming resources to anyone who is interested.</p>
        </div>
    </div>
</section>

<!-- About Continued Section -->
<section class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Why should you care?</h2>
                <p>Computer Science is a part of almost every aspect of our society. It is an invaluable skill to learn regardless of your future career; however, the amount of classes available to K-12 students has actually been declining even as the field grows. Our outreach program is designed to combat computer science decline and help students realize the possibilities if what they can achieve with only a few lines of code.</p>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>How can you join?</h2>
                <p><a ng-href='#/register'>Register</a> for one of our outreach programs taking place during the 2016-17 school year</p>
            </div>
        </div>
    </div>
</section>
