
<section id="download" class="content-section" style="padding-top: 100px">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class='text-center'>Register!</h2>
                <div class='callout secondary' ng-controller='RegisrationController'>
                    <form novalidate name='regisrationForm' ng-submit='register();'>
                        <div class='form-group col-xs-6 col-xs-offset-3'>
                            <label for='firstname' class='sr-only'>First Name:</label>
                            <input required
                                id='firstname'
                                ng-model='firstName'
                                ng-model-options=" { updateOn: 'default blur' }"
                                name='firstName'
                                type='text'
                                class='form-control'
                                placeholder='first name'>
                            <ng-messages ng-if="regisrationForm.$submitted || regisrationForm.firstName.$touched"
                                for="regisrationForm.firstName.$error" style='color:red'>
                                <ng-message when="required">Your first name is required.</ng-message>
                            </ng-messages>
                        </div>
                        <div class='form-group col-xs-6 col-xs-offset-3'>
                            <label for='lastname' class='sr-only'>Last Name:</label>
                            <input required
                                id='lastname'
                                ng-model='lastName'
                                ng-model-options=" { updateOn: 'default blur' }"
                                name='lastName'
                                type='text'
                                class='form-control'
                                placeholder='last name'>
                            <ng-messages ng-if='regisrationForm.$submitted || regisrationForm.lastName.$touched'
                                for='regisrationForm.lastName.$error' style='color:red'>
                                <ng-message when='required'>You last name is required.</ng-message>
                            </ng-messages>
                        </div>
                        <div class='form-group col-xs-6 col-xs-offset-3'>
                            <label for='email' class='sr-only'>Email:</label>
                            <input required
                                id='email'
                                ng-model='email'
                                ng-model-options=" { updateOn: 'default blur' }"
                                name='email'
                                type='email'
                                class='form-control'
                                placeholder='email'>
                            <ng-messages ng-if='regisrationForm.$submitted || regisrationForm.email.$touched'
                                for="regisrationForm.email.$error" style='color:red'>
                                <ng-message when="email">Invalid email.</ng-message>
                                <ng-message when="required">Your email is required.</ng-message>
                            </ng-messages>
                        </div>
                        <div class='form-group col-xs-6 col-xs-offset-3'>
                            <label for='phonenumber' class='sr-only'>Phone Number:</label>
                            <input required
                                id='phonenumber'
                                ng-model='phoneNumber'
                                ng-model-options=" { updateOn: 'default blur' }"
                                name='phoneNumber'
                                type='text'
                                class='form-control'
                                placeholder='phone number'>
                            <ng-messages ng-if='regisrationForm.$submitted || regisrationForm.phoneNumber.$touched'
                                for='regisrationForm.phoneNumber.$error' style='color:red'>
                                <ng-message when='required'>Your phone number is required. </ng-message>
                            </ng-messages>
                        </div>
                        <div class='form-group col-xs-6 col-xs-offset-3'>
                            <button class='btn btn-primary btn-lg btn-block' ng-disabled='regisrationForm.$invalid' type='submit'>Register</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
